boot.img
recovery.img
system/system/priv-app/MiuiCamera/MiuiCamera.apk
bootimg/14_dtbdump_PZ4..dtb
product/priv-app/Velvet/Velvet.apk
cust/app/customized/partner-com.ebay.mobile_49/partner-com.ebay.mobile_49.apk
